[Unit]
Description=Downloads and blocks the contents of spamhaus' DROP list using nftables
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/spamhaus-drop-nftables.sh

[Install]
WantedBy=multi-user.target

